body { background-color: #F0F0F0; 
        font-size: 28px;
		font-family: Roboto, Montserrat, Lora;
     }
.button { background: rgba(45, 59, 121, 0.887);
        font-weight: 20;
        height: 41px;
        width: 100px;
        box-shadow: black 4px 1px;
        border-radius: 50%;
    }
#prova {font-size: 50 px; 
background-color: orange; 
}
header { background: #006699}

a { color: #1c9a53;
    text-shadow: aquamarine;
}
#menu {
	background: #006699;
	color: #FFF;
	height: 60px;
	width: 100%;
}
#menu ul, #menu li {
	margin: 0 30 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 60px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
    font-family: Roboto, Montserrat, Lora;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
    border-bottom: 2px solid rgba(212, 6, 88, 0.867); 
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #F2F2F2;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #0099CC;
	font-size: 12px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #C7C7C7;
	color: #0091FF;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

/* STILI PER IL CONTACT FORM */
form {
	max-width: 400px;
	max-height: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f4f4f4; /* Colore di sfondo */
	border-radius: 5px;
	margin-top: 50px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
form textarea {
	resize: none; 
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0%;
	color: #333333; /* Colore del testo */
  }
form input[type="text"],
form input[type="email"],
form textarea {
	width: 90%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
form input[type="submit"] {
	background-color: #0077B6; /* Colore di highlight */
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
  }
form input[type="submit"]:hover {
	background-color: #FF6600;
	 /* Colore di accent */
  }
#footer { 
	background-color: #333333; 
	color: #fff; 
	padding: 20px;  
	margin-top: 50px;
	height: 10%;
	font-size: 18px;
	text-align: left; 
  }
#footer a {
	color: #fff; 
	text-decoration: none; 
	margin-right: 20px; 
	font-size: 24px; 
	margin-left: 10px;
  }
.icon-small{
	font-size: 18px;
	margin-right: 10px;
	
}
#paragrafo{
	font-size: 18px;
}
